
body {
  background-image: url('image/n.png');
  background-size: 100% 100%;
}
h2 {
  background-image: url('dem.jfif');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: red;
  font-family: courier;
  font-size: 160%;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
img {
  width:400;
  height:379;
}
table{
  border: 5px double black;
  border-collapse: collapse;
  font-size: 30px;
}
th, td {
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
th {
  background-color:khaki;
}
/*tr:nth-child(even){
  background-color:slateblue;
}*/
